<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="false"
         failOnWarning="false"
         stopOnFailure="false"
         testdox="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true">

    <testsuites>
        <testsuite name="LabSync Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>controllers</directory>
            <directory>models</directory>
            <directory>modules</directory>
        </include>
    </source>
</phpunit>
